<!DOCTYPE html>
<html>
    <head>
        <title>Richard's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Richard's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Chutia sa website banaunga</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Phir tera job churaunga</p>
        </article>
    </body>
</html>
